{form filterTaskForm}
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                {input search, class => 'form-control'}
            </div>
        </div>
        <div class="col-md-2">
            {input submit, class => 'btn btn-primary'}
        </div>
    </div>
{/form}